
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Välkommen på bio</h1>
    <div> 
        @Html.ActionLink("Alla filmer", "Index", "Film")
    </div>
</body>
</html>
